body{
     overflow-x: hidden;
}

.cards-container{
     justify-content: space-evenly;
     flex-wrap: wrap;
     overflow: hidden;
}

.character-info .btn{ 
     width: 100%;
}

.card{
     background-color: rgb(110, 79, 79);
     height: 460px;
     width: 250px;
     margin: 40px 25px;
     text-align: center;
     border: 2px solid black;
     border-radius: 10px;
     gap: 5px;
     z-index: 2;
     backdrop-filter: blur(3px);
}

.card img{
     border-radius: 10px 10px 0 0;
}

.name{
     font-size: 20px;
}

.remove-btn{
     border-radius: 0 0 10px 10px;
     border: 2px 0px 0px 0px;
}

.no-characters{
     font-size: 40px;
     color: var(--text-color);
}